@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

body{
  text-align: center;
}

h2, h3, h4, h5, h6 {
  font-family: "Ubuntu";
}

p {
  color: grey;
}

/* Headings */

.big-heading {
  font-family: "Ubuntu";
  font-size: 3rem;
  line-height: 1.5;
}

/* Title Section */

.title-img {
  width: 200%;
  padding-bottom: 6%;
  transform: rotate(10deg);
  position: absolute;
  right: -110%
}

#title {
  background-image: url("../images/texture.jpg");
  /* color: white; */
  text-align: left;
  padding-bottom: 120px;
}

/* Navbar */

.navbar-brand {
  font-family: "Montserrat";
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar {
  padding: 0 0 4.5rem;
  padding-top: 30px;
}

.nav-item {
  padding: 0 18px;
}

.container-fluid {
  padding: 3% 15% 8%;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Ubuntu";
}

/* Feature Section */

#features {
  padding: 7% 15%;
  background-color: white;
  position: relative;
}

.feature-box {
  padding: 5%;
}

.feature-title{
   font-size: 1.5rem;
 }

.icon {
  color: orange;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* testimonials */

#testimonials {
  background-image: url("../images/texture.jpg");
  color: #fff;
  padding: 50px;
}

.testimonial-img {
  width: 40%;
  border-radius: 10%;
  margin: 50px;
}

.carousel-item {
  padding: 7% 20%;
}

.testimonial-text{
  font-size: 3rem;
  line-height: 1.5;
}

/* menu section */

.categery{
  width: 350px;
  height: 250px;
  border-radius: 10%;
  margin: 10px;
}

.cards-container{
  padding-top: 100px;
  padding-bottom: 100px;
}

#cat-title{
  font-family: "Montserrat";
  font-size: 2.6rem;
  line-height: 1.5;
}

.download-btn{
  background-color: black;
  margin-top: 30px;
}

/* Footer Section */

.social-icon {
  margin: 20px 10px;
}

#footer {
  padding: 7% 15%;
  background-image: url("../images/texture.jpg");
}

/* media effect */

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-img {
    position: static;
    transform: rotate(0);
  }
}
.Copyright{
  font-size: 30px;
  color:black;
}
